{# profile/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
{% include 'header.html.twig' %}
<div class="container-fluid text-center">



{{ form_start(form) }}

{% for persona in form.personas %}

<div class="row g-2 text-start">
<div class="col">
    {{ form_row(persona.Nombres) }}
</div>
<div class="col">
    {{ form_row(persona.Apellidos) }}
</div>
</div>
<div class="row g-2 text-start">
<div class="col">
    {{ form_row(persona.Elegir_menu) }}
</div>
<div class="col">
    {{ form_row(persona.Evento) }}
</div>
</div>
<div class="row g-2 text-start">
<div class="col">
    {{ form_row(persona.otro) }}
</div>
</div>
{% endfor %}

<div class="row mb-3">
<button class="btn btn-dark btn-block mb-3"  type="submit">Guardar</button>
</div>
{{ form_end(form) }}


</div>
{% endblock %}
