{% extends 'base.html.twig' %}

{% block title %}Enlace cony i miguel - perfil
{% endblock %}

{% block body %}
	{% include 'header.html.twig' %}
	<div class="container-fluid text-center">
		<style type="text/css">
			.no-link {
				pointer-events: none;
				cursor: default;
			}
		</style>
		<script>
							document.addEventListener('DOMContentLoaded', (event) => {
							document.querySelectorAll('.no-link').forEach((element) => {
							element.innerHTML = element.textContent;
							});
						});
						</script>
		{% if is_granted('ROLE_ADMIN') %}
			<div class="row">
			<div class="col">
			<a class="link-underline-dark" href="#">
					<div class="card text-white bg-dark">
						<h5 class="card-header">
							<span class="material-icons icon-large">
								person_add
							</span><br/>Personas Registros
						</h5>
						<div class="card-body">
							<h5 class="card-title">{{ totalDatos }}</h5>
						</div>
					</div>
					</a>
				</div>
				<div class="col">
				<a class="link-underline-dark" href="{{ path('app_user_index') }}">
					<div class="card text-white bg-dark">
						<h5 class="card-header">
							<span class="material-icons icon-large">
								badge
							</span><br/>Usuarios
						</h5>
						<div class="card-body">
							<h5 class="card-title">{{ totalUsers }}</h5>
						</div>
					</div>
					</a>
				</div>
				<div class="col">
				<a class="link-underline-dark" href="#">
					<div class="card text-white bg-dark">
						<h5 class="card-header">
							<span class="material-icons icon-large">
								supervisor_account
							</span><br/>Personas y menu
						</h5>
						<div class="card-body">
							<h5 class="card-title">{{ totalPersonas }}</h5>
						</div>
					</div>
					</a>
				</div>
				<div class="col">
				<a class="link-underline-dark" href="#">
					<div class="card text-white bg-dark">
						<h5 class="card-header">
							<span class="material-icons icon-large">
								supervisor_account
							</span><br/>hijos/as
						</h5>
						<div class="card-body">
							<h5 class="card-title">{{ totalPersonasPequenos }}</h5>
						</div>
					</div>
					</a>
				</div>
				<div class="col">
				<a class="link-underline-dark" href="#">
					<div class="card text-white bg-dark">
						<h5 class="card-header">
							<span class="material-icons icon-large">
								commute
							</span><br/>coche/bus
						</h5>
						<div class="card-body">
							<h5 class="card-title">1</h5>
						</div>
					</div>
					</a>
				</div>
			</div>
		{% elseif is_granted('ROLE_YES')  %}
			<div class="card text-white bg-dark">
				<h5 class="card-header">Dónde celebramos</h5>
				<div class="card-body">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3075.335249564092!2d-0.29997860000000004!3d39.5745941!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd603f35d6918387%3A0xb82a5bc99e3c2666!2sJardines%20La%20Hacienda!5e0!3m2!1ses!2ses!4v1700342683078!5m2!1ses!2ses" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
			<br/>
			<div class="card text-white bg-dark">
				<div class="card-body">
					<h5 class="card-title">Recordad: lo importante es que vengáis con ilusión, alegría y ganas de pasarlo bien. Pero si queréis hacernos un regalo aquí tenéis nuestro número de cuenta</h5>
				</div>
			</div>
			<br/>
			<div class="card text-white bg-dark">
				<h5 class="card-header">Cuenta de banco</h5>
				<div class="card-body">
					<h5 class="card-title no-link">IBAN ES77 1465 0100 9617 4820 4664</h5>
				</div>
			</div>
			<br/>
		{% elseif is_granted('ROLE_NO')  %}
			<p class="text-center fs-4">Se a ido a lo grande en
				{{ app.user.userIdentifier }}
				Muchas gracias</p>
			<a class="btn btn-danger" href="{{ path('app_logout') }}">Cerrar sesión</a>
		{% elseif is_granted('ROLE_USER')  %}
			<p class="text-center texto">
				Queremos que nos acompañes el día de nuestra boda.</p>
			<p class="text-center texto">
				Te agradecemos que confirmes tu asistencia</p>
			<a class="btn btn-success" href="{{ path('app_profile_persona', {'id': user.id}) }}">Si asisto</a>
			<a class="btn btn-danger" href="{{ path('app_profile_no_attend', {'id': user.id}) }}">No asisto</a>
		{% endif %}
	</div>
</div>{% endblock %}

