{% extends 'base.html.twig' %}

{% block title %}Enlace cony i miguel - Registro!
{% endblock %}

{% block body %}
	<div class="container-fluid text-center">
		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}
		<div class="d-grid gap-1">
			{{ form_row(registrationForm.name) }}
		</div>
		<div class="d-grid gap-1">
			{{ form_row(registrationForm.surnames) }}
		</div>
		<div class="d-grid gap-1">
			{{ form_row(registrationForm.email) }}
		</div>
		<div class="d-grid gap-1">
			{{ form_row(registrationForm.plainPassword) }}
		</div>
		<div class="d-grid gap-1">
			{{ form_row(registrationForm.agreeTerms) }}
		</div>
		<div class="d-grid gap-1">
			<button type="submit" class="btn btn-dark btn-block">Registro</button>
		</div>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
