{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
<div class="container-fluid text-center">
	<h1>Usuarios</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Correo electrónico</th>
				<th>Grupo</th>
				<th>Contraseña</th>
				<th>Nombre</th>
				<th>Apellidos</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
					<td>{{ user.password }}</td>
					<td>{{ user.name }}</td>
					<td>{{ user.surnames }}</td>
					<td>
						<a href="{{ path('app_user_show', {'id': user.id}) }}">mostrar</a>
						<a href="{{ path('app_user_edit', {'id': user.id}) }}">editar</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">No se han encontrado registros</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_user_new') }}">Create new</a>
</div>
{% endblock %}
