{% extends 'base.html.twig' %}

{% block title %}Usuario
{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
<div class="container-fluid text-center">
	<h1>User</h1>

	<table class="table table-dark table-striped">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ user.id }}</td>
			</tr>
			<tr>
				<th>Correo electrónico</th>
				<td>{{ user.email }}</td>
			</tr>
			<tr>
				<th>Grupo</th>
				<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
			</tr>
			<tr>
				<th>Contraseña</th>
				<td>{{ user.password }}</td>
			</tr>
			<tr>
				<th>Nombre</th>
				<td>{{ user.name }}</td>
			</tr>
			<tr>
				<th>Apellido</th>
				<td>{{ user.surnames }}</td>
			</tr>
		</tbody>
	</table>

	<a class="btn btn-dark btn-block" href="{{ path('app_user_index') }}">Volver a la lista</a>

	<a class="btn btn-dark btn-block" href="{{ path('app_user_edit', {'id': user.id}) }}">Editar</a>
	</div>
{% endblock %}
